* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

.swn-popup-base {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100svh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000A0;
}