:root {
    --color-subContent-bg: #404040;
    --color-button-bg: hsl(206, 100%, 42%);
    --color-button-bg-hover: hsl(206, 100%, 35%);
    --color-button-bg-active: hsl(206, 100%, 30%);
    --borderRadius: 0.25rem;
}

#swn-main hr {
    margin-bottom: 2svh;
}

#swn-main h2 {
    margin-top: 5svh;
}

#swn-main h2:first-of-type {
    margin-top: 0;
}

.swn-class-parent,
.swn-content-parent {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 2svh;
}

.swn-enabled {
    filter: brightness(1);
}

.swn-disabled {
    filter: brightness(0.6);
    pointer-events: none;
    opacity: 0.7;
    cursor: not-allowed;
}

.swn-content-title {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.swn-content-title label {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    flex-wrap: nowrap;
}

.swn-content {
    background-color: var(--color-subContent-bg);
    padding: 0.5rem;
    margin-block: 0.5rem;
    border-radius: var(--borderRadius);
    flex: 0 0 calc(50% - 0.5rem);
}

.swn-content h3 {
    margin-bottom: 1rem;
}

.swn-range {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
}

.swn-range .swn-range-txt {
    width: 5svw;
    margin-right: 0.5svw;
    text-align: right;
    font-weight: bold;
    font-size: 1.25rem;
}

.swn-range .swn-range-txt::after {
    content: "%";
}

.swn-range input[type="range"] {
    flex: 1;
}

.swn-content-value-reset {
    padding-inline: 1rem;
    padding-block: 0.25rem;
    background-color: var(--color-button-bg);
    border: 0;
    border-radius: var(--borderRadius);
    color: white;
    font-weight: bold;
    cursor: pointer;
    margin-left: auto;
    flex-shrink: 0;
}

.swn-content-value-reset.swn-enabled:hover {
    background-color: hsl(210, 100%, 45%);
}

.swn-content-value-reset.swn-enabled:active {
    background-color: hsl(210, 100%, 35%);
    transform: scale(0.99);
}