:root {
    --color-subContent-bg: #404040;
    --borderRadius: 0.25rem;
}

#swn-main hr {
    margin-bottom: 2svh;
}

#swn-main h2 {
    margin-top: 5svh;
}

#swn-main h2:first-of-type {
    margin-top: 0;
}

.swn-class-parent {
    display: flex;
    gap: 1rem;
    margin-bottom: 2svh;
    width: 100%;
}

.swn-content-parent {
    display: flex;
    gap: 1rem;
    margin-bottom: 2svh;
}

.swn-content-title {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.swn-content {
    background-color: var(--color-subContent-bg);
    padding: 0.5rem;
    margin-block: 0.5rem;
    border-radius: var(--borderRadius);
    flex: 0 0 calc(50% - 0.5rem);
}

.swn-content h3 {
    margin-bottom: 1rem;
}

.swn-range {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
}

.swn-range .swn-range-txt {
    width: 5svw;
    margin-right: 0.5svw;
    text-align: right;
    font-weight: bold;
    font-size: 1.25rem;
}

.swn-range .swn-range-txt::after {
    content: "%";
}

.swn-range input[type="range"] {
    flex: 1;
}