:root {
    --borderRadius: 0.25rem;

    --size-root-height: 70svh;
    --size-header-height: 2rem;
    --size-main-height: calc(var(--size-root-height) * 0.95 - var(--size-header-height));
}

body {
    position: relative;
}

.swn-popup {
    position: absolute;
    background-color: #1e1e1e;
    color: #d4d4d4;
    border: 1px solid #3c3c3c;
    border-radius: var(--borderRadius);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: var(--size-root-height);
    aspect-ratio: 16 / 9;
    z-index: 1000;

}


#swn-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--size-header-height);
    padding-inline: 0.5rem;
    padding-bottom: 0.5svh;
    margin-bottom: 0.5svh;
    border-bottom: 0.5svh solid #3c3c3c;
}

#swn-title {
    margin: 0;
    font-weight: bold;
    font-size: 1.25rem;
}

#swn-close {
    cursor: pointer;
    background-color: hsl(0, 100%, 50%);
    aspect-ratio: 1;
    display: inline-block;
    width: 1.5em;
    text-align: center;
    font-weight: bold;
    color: white;
    border-radius: var(--borderRadius);
}

#swn-close:hover {
    background-color: hsl(0, 100%, 45%);
}

#swn-close:active {
    background-color: hsl(0, 100%, 35%);
    transform: scale(0.95);
}

#swn-main {
    overflow-y: scroll;
    height: var(--size-main-height);
}

/* VSCode風スクロールバー */
#swn-main::-webkit-scrollbar {
    width: 0.625rem;
    background-color: transparent;
}

#swn-main::-webkit-scrollbar-track {
    background-color: #1e1e1e;
}

#swn-main::-webkit-scrollbar-thumb {
    background-color: #424242;
    border-radius: 0.3125rem;
    border: 0.125rem solid #1e1e1e;
}

#swn-main::-webkit-scrollbar-thumb:hover {
    background-color: #4e4e4e;
}

#swn-main::-webkit-scrollbar-thumb:active {
    background-color: #575757;
}